## importing packages

In [16]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
from tqdm import tqdm_notebook as tqdm
print(os.listdir("../input"))

['recognizing-faces-in-the-wild', 'mylibrary']

## Loading csv files

In [4]:
train = pd.read_csv('../input/recognizing-faces-in-the-wild/train_relationships.csv')
sample_submission = pd.read_csv('../input/recognizing-faces-in-the-wild/sample_submission.csv')

In [5]:
train.shape , sample_submission.shape

((3598, 2), (5310, 2))

In [6]:
train.describe()

                p1           p2
count         3598         3598
unique        1725         1439
top     F0825/MID5  F0690/MID10
freq             9            8

In [7]:
train.head()

           p1          p2
0  F0002/MID1  F0002/MID3
1  F0002/MID2  F0002/MID3
2  F0005/MID1  F0005/MID2
3  F0005/MID3  F0005/MID2
4  F0009/MID1  F0009/MID4

In [58]:
print(os.listdir("../input/recognizing-faces-in-the-wild/train/")[:17])

['F0639', 'F0646', 'F0361', 'F0769', 'F0978', 'F0816', 'F0363', 'F0897', 'F0154', 'F0838', 'F0228', 'F0132', 'F0195', 'F0947', 'F0894', 'F0866', 'F0081']

In [48]:
l =[]
for fam in tqdm(os.listdir("../input/recognizing-faces-in-the-wild/train/")):
    for person in os.listdir("../input/recognizing-faces-in-the-wild/train/"+fam):
        l.append(fam+'/'+person)

HBox(children=(IntProgress(value=0, max=470), HTML(value='')))

In [49]:
len(l)

2316

## Here I've used product function to generate all possible combinations betwen indeviduals

In [ ]:
from itertools import product

In [51]:
matrix = []
while(len(l)!=1):
    p = l[0]
    l.remove(p)
    matrix.append(np.array(list(product([p],l)), dtype='object'))
matrix = pd.DataFrame(np.vstack(matrix), columns=['p1','p2'])

In [52]:
matrix.head()

           p1          p2
0  F0639/MID6  F0639/MID1
1  F0639/MID6  F0639/MID7
2  F0639/MID6  F0639/MID4
3  F0639/MID6  F0639/MID3
4  F0639/MID6  F0639/MID5

## Now we have all possible combination we should mark pairs mentionned in the train file as True else False

In [53]:
train['target']=1
matrix = pd.merge(matrix, train, on=['p1','p2'], how='left')

In [55]:
matrix['target'] = (matrix['target']
                            .fillna(0)
                            .astype(np.int8))

In [60]:
matrix.head(15)

            p1          p2  target
0   F0639/MID6  F0639/MID1       0
1   F0639/MID6  F0639/MID7       1
2   F0639/MID6  F0639/MID4       0
3   F0639/MID6  F0639/MID3       0
4   F0639/MID6  F0639/MID5       0
5   F0639/MID6  F0639/MID2       0
6   F0639/MID6  F0646/MID6       0
7   F0639/MID6  F0646/MID1       0
8   F0639/MID6  F0646/MID4       0
9   F0639/MID6  F0646/MID3       0
10  F0639/MID6  F0646/MID5       0
11  F0639/MID6  F0646/MID2       0
12  F0639/MID6  F0361/MID1       0
13  F0639/MID6  F0361/MID4       0
14  F0639/MID6  F0361/MID3       0

In [61]:
matrix.target.value_counts()

0    2679082
1       1688
Name: target, dtype: int64

<br>currently I'm stuck I couldn't figure how to run a model with 2 images as intput
<br>I hope you like my work 
<br>Please help !!