## WORK IN PROGRESS NOTEBOOKâœ¨

# Table of Contents
<a id="table-of-contents"></a>
* [1. Introduction](#1)
* [2. Exploratory Data Analysis](#2)
    * [2.1. Train Dataset](#2.1)
        * [2.1.1. Checking Null/Missing Values](#2.1.1)
        * [2.1.2. Features](#2.1.2)
            * [2.1.2.1 Sex](#2.1.2.1)
            * [2.1.2.2 Age](#2.1.2.2)
            * [2.1.2.3 PClass](#2.1.2.3)
            * [2.1.2.4 Cabin](#2.1.2.4)
            * [2.1.2.5 SibSp](#2.1.2.5)
            * [2.1.2.6 Parch](#2.1.2.6)
            * [2.1.2.7 Embarked](#2.1.2.7)
            * [2.1.2.8 Fare](#2.1.2.8)
    * [2.2. Test Dataset](#2.2)
        * [2.2.1. Checking Null/Missing Values](#2.2.1)
        * [2.2.2. Features](#2.2.2)
            * [2.2.2.1 Sex](#2.2.2.1)
            * [2.2.2.2 Age](#2.2.2.2)
            * [2.2.2.3 PClass](#2.2.2.3)
            * [2.2.2.4 Cabin](#2.2.2.4)
            * [2.2.2.5 SibSp](#2.2.2.5)
            * [2.2.2.6 Parch](#2.2.2.6)
            * [2.2.2.7 Embarked](#2.2.2.7)
            * [2.2.2.8 Fare](#2.2.2.8)
        * [2.2.3. Survived](#2.2.3)
            * [2.2.2.1 Sex](#2.2.3.1)
            * [2.2.2.2 Age](#2.2.3.2)
            * [2.2.2.3 PClass](#2.2.3.3)
            * [2.2.2.4 Cabin](#2.2.3.4)
            * [2.2.2.5 SibSp](#2.2.3.5)
            * [2.2.2.6 Parch](#2.2.3.6)
            * [2.2.2.7 Embarked](#2.2.3.7)
            * [2.2.2.8 Fare](#2.2.3.8)

[back to top](#table-of-contents)
<a id="1"></a>
# 1. Introduction

**Kaggle competitions** are incredibly fun and rewarding, but they can also be intimidating for people who are relatively new in their data science journey. In the past, Kaggle have launched many Playground competitions that are more approachable than Featured competition, and thus more beginner-friendly.

The goal of these competitions is to provide a fun, but less challenging, tabular dataset. These competitions will be great for people looking for something in between the Titanic Getting Started competition and a Featured competition.

The dataset is used for this competition is synthetic but based on a real dataset (in this case, the actual **Titanic data**!) and generated using a CTGAN. The statistical properties of this dataset are very similar to the original Titanic dataset, but there's no way to "cheat" by using public labels for predictions.

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_palette("coolwarm")

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [ ]:
# Loading the datasets
path = "/kaggle/input/tabular-playground-series-apr-2021/"
train = pd.read_csv(path + 'train.csv', index_col = "PassengerId")
test = pd.read_csv(path + 'test.csv', index_col = "PassengerId")
submission = pd.read_csv(path + 'sample_submission.csv')

[back to top](#table-of-contents)
<a id="2"></a>
# 2. Exploratory Data Analysis

Imagine that you want to buy a new mobile phone. We all know that there are variety of good phones out there in the Market. There's Apple, Samsung, Oppo, OnePlus, Google, etc. How are you going to decide which phone to buy now? You'll probably go to Youtube and watch MKBHD or Linus Tech Tips or MrWhoseTheBoss videos and will narrow down your choices. Is that it? If I was at your position, I would have compared the specifications of the phones too and compare them out so that I can narrow down my choices on a more deeper level now and I think that you would also do the same. 

Now this **investigation** that you or me are doing before buying a new phone is what in today's technological world or Data Science world known as "Exploratory Data Analysis". 

**Exploratory Data Analysis** is an approach to analyze any data set to summarize its main features or characteristics. We use statistical graphs and other data visulization models most of the time here.

**Exploring the dataset:**

In [ ]:
print("Shape of train dataset: " , train.shape)
print("Shape of test dataset: " , test.shape)

[back to top](#table-of-contents)
<a id="2.1"></a>
## 2.1. Train Dataset

**Key findings:**
* The dataset has a total of `100,000 rows` and `11 columns/features`. 
* It has a total of `76,165` null values.
* Features that have missing values are `Age`, `Ticket`, `Fare`,`Cabin`, and `Embarked`.
* Most of the columns are `categorical`.
* There are `7,856 people` whose names are common.

**First 5 Rows:**

In [ ]:
train.head()

A **gist** of the Train dataset:

In [ ]:
train.describe(include="all")

[back to top](#table-of-contents)
<a id="2.1.1"></a>
### 2.1.1. Checking Null/Missing Values

We can check **the null values** in the dataset in 2 particular ways:
1. By using `is_na()` function, or
2. By using Seaborn and visualize it.

I mostly prefer to **visualize it first** and then see the numerical values.

In [ ]:
plt.figure(figsize=(10,4), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.heatmap(train.isnull(), cbar=False, yticklabels=False, cmap="coolwarm")
plt.title("Figure 1: HeatMap to check Null values in Train Dataset", fontsize=16)
plt.show()

In [ ]:
print('Missing values in train dataset:', sum(train.isnull().sum()))

In [ ]:
print("Missing values per column:\n", train.isna().sum())

Getting the list of **Categorical variables:**

In [ ]:
# Get list of categorical variables
s = (train.dtypes == 'object')
train_obj_cols = list(s[s].index)

print("Categorical variables in train dataset:")
print(train_obj_cols)

In [ ]:
print("No. of unique names in the train dataset: ", train.Name.nunique())

-----

[back to top](#table-of-contents)
<a id="2.1.2"></a>
### 2.1.2. Features

[back to top](#table-of-contents)
<a id="2.1.2.1"></a>
### 2.1.2.1. Sex

**Observations:**

* It consists of `Male` and `Female` only.
* There are more `Male` than `Female` in this dataset.

In [ ]:
plt.figure(figsize=(8,5), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Sex")
plt.title("Figure 2: Sex distribution among the Train dataset", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.2"></a>
### 2.1.2.2. Age

**Observations:**

* There are about 642 entries where Age is like 0.33 or 0.83. (I am not able to understand at all that what this means)
* People having age between 20 and 30 were the most on the boat.
* There is total of 3292 missing values in this column.

Either these values represent that these are kids or these are incorrect values!

In [ ]:
train[train.Age < 1].head()

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=train, x="Age", shade = True)
plt.title("Figure 3: Age distribution among the Train dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.3"></a>
### 2.1.2.3. PClass

`Pclass` is a Ticket class where 1st = Upper, 2nd = Middle and 3rd = Lower.

**Observations:**

* The Pclass is dominating out of the 3 classes.
* Males are contributing more towards the domination of 3rd class or Lower class.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Pclass")
plt.title("Figure 4: PClass count among the Train dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Pclass", hue="Sex")
plt.title("Figure 5: PClass x Sex (Train dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.4"></a>
### 2.1.2.4. Cabin

`Cabin` is the cabin number. It can be converted to a categorical variable by taking the first letter in the feature.

Observations:
* This feature has the highest no. of missing values present.
* Cabin can be categorize into `9 categories`, with N is used for missing values.

In [ ]:
column = 'Cabin_code'
train["Cabin"] = train["Cabin"].fillna("No")
train["Cabin_code"] = train["Cabin"].str[0]
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Cabin_code", order = train['Cabin_code'].value_counts().index)
plt.title("Figure 6: Cabin (Train dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.5"></a>
### 2.1.2.5 SibSp

* `SibSp` is number of siblings / spouses aboard the Synthanic.
* Sibling = brother, sister, stepbrother, stepsister
* Spouse = husband, wife (mistresses and fiancÃ©s were ignored)

**Observations:**
* Number of siblings / spouses can be categorize into 7 categories, this feature can be treated as a continuous or categorical and see how the model performed.
* Proportion of those people who don't have any siblings or 0 siblings is the highest of all.
* There's a simple trend that as the no. of siblings increases among the people, the total count of such people belonging to that group decreases.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="SibSp")
plt.title("Figure 7: No. of Siblings / Spouses (Train dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.6"></a>
### 2.1.2.6. Parch

* `Parch` is no. of parents / children aboard the Titanic.
* Parent = mother, father
* Child = daughter, son, stepdaughter, stepson
* Some children travelled only with a nanny, therefore parch=0 for them.

**Observations:**

* Number of parents / children can be categorize into `8 categories`.
* Proportion of those people who are abroad and didn't bring their parents with themselves is the highest of all.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Parch")
plt.title("Figure 8: No. of Parents (Train dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.7"></a>
### 2.1.2.7. Embarked

`Embarked` is the port of embarkation:
* C is Cherbourg
* Q is Queenstown
* S is Southampton

**Observations:**

* Most of passengers are embarked from `Southampton`.
* There are 205 missing values.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Embarked")
plt.title("Figure 9: Embarked (Train dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.1.2.8"></a>
### 2.1.2.8. Fare

`Fare` is the passenger fare.

**Observations:**

* The highest fare in train dataset is 744.66.
* The average fare is 43.9 in train dataset.
* Missing value in this feature are 134 in train dataset.

In [ ]:
train.Fare.describe(include="all")

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=train, x="Fare", shade = True)
plt.title("Figure 10: Fare distribution among the Train dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

---

[back to top](#table-of-contents)
<a id="2.2"></a>
## 2.2. Test Dataset

**Key Findings:**

* The dataset has a total of `100,000 rows` and `10 columns/features`.
* It has a total of `79,909` null values.
* Features that have missing values are `Age`, `Ticket`, `Fare`, `Cabin`, and `Embarked`.
* There are `9,192` people whose names are common.

**First 5 Rows:**

In [ ]:
test.head()

A **gist** of Test Dataset:

In [ ]:
test.describe(include="all")

[back to top](#table-of-contents)
<a id="2.2.1"></a>
### 2.2.1. Checking Null/Missing Values

In [ ]:
plt.figure(figsize=(10,4), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.heatmap(test.isnull(), cbar=False, yticklabels=False, cmap="coolwarm")
plt.title("Figure 11: HeatMap to check Null values in Test Dataset", fontsize=16)
plt.show()

In [ ]:
print('Missing values in test dataset:', sum(test.isnull().sum()))

In [ ]:
print("Missing values per column:\n", test.isna().sum())

In [ ]:
print("No. of unique names in the test dataset: ", test.Name.nunique())

[back to top](#table-of-contents)
<a id="2.2.2.1"></a>
### 2.2.2.1. Sex

**Observations:**

* Unlike Train dataset, test dataset's sex proportion is more asymmteric.

In [ ]:
plt.figure(figsize=(8,5), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Sex")
plt.title("Figure 12: Sex distribution among the Test dataset", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.2"></a>
### 2.2.2.2. Age

**Observations:**

* There are a total of 266 rows where the Age is less than 1. (Still doesn't make sense to me!)
* There is a total of 3487 total missing values.

In [ ]:
test[test.Age < 1].head()

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=test, x="Age", shade = True)
plt.title("Figure 13: Age distribution among the Test dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.3"></a>
### 2.2.2.3. PClass

**Observations:**

* The Pclass is dominating out of the 3 classes.
* Males are contributing more towards the domination of 3rd class or Lower class.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Pclass")
plt.title("Figure 14: Pclass distribution among the Test dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Pclass", hue="Sex")
plt.title("Figure 15: Pclass x Sex (Test dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.4"></a>
### 2.2.2.4. Cabin

**Observations:**

* This feature has the highest number of missing values. (Same as Train Dataset)
* Unlike Train dataset, there's similar no. of count in `A`, `B`, and `C` cabin.

In [ ]:
column = 'Cabin_code'
test["Cabin"] = test["Cabin"].fillna("No")
test["Cabin_code"] = test["Cabin"].str[0]
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Cabin_code")
plt.title("Figure 16: Cabin distribution among the Test dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.5"></a>
### 2.2.2.5. SibSp

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="SibSp")
plt.title("Figure 17: No. of Siblings/Spouses(Test dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.6"></a>
### 2.2.2.6. Parch

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Parch")
plt.title("Figure 18: No. of Parents (Test dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.7"></a>
### 2.2.2.7. Embarked

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=test, x="Embarked")
plt.title("Figure 19: Embarked (Test dataset)", fontsize=16)
sns.despine(left=True) 
plt.show()

[back to top](#table-of-contents)
<a id="2.2.2.8"></a>
### 2.2.2.8. Fare

**Observations:**

The highest fare in test dataset is 680.7. (Train dataset: 744.66)
The average fare is 45.3 in train dataset. (Train dataset: 43.9)
Missing value in this feature are 133 in train dataset.

In [ ]:
test.Fare.describe(include="all")

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=test, x="Fare", shade = True)
plt.title("Figure 20: Fare distribution among the Test dataset", fontsize=16)
sns.despine(left=True) 
plt.show()

---

[back to top](#table-of-contents)
<a id="2.2.3"></a>
### 2.2.3. Survived

This section explores the `Survived` feature of the Training dataset and findings of it with other features too.

**Observations:**

* `Less than 50%` of the passengers were able to `survive`.
* Among those who were able to survive, `females` were more prone to Survive than Males.
* Most of the passengers with `age 15-40` were not able to survive.
* `Older passengers` survival probablity was higher than the others. 
* Those having Ticket `class 1` had the highest chance to survived. Then came the Ticket class 2 and then class 3rd one's.
* Survival rate of the passengers `without siblings / spouses` to survive was the highest. That includes those too `who didn't brought parents or children` with them.
* Passengers who bought a `low fare` ticket were able to survive the most. [Doesn't make any sense though!]
* It's hard to predict in a strong sense when it comes to `Cabin` feature as it includes most of the `Null` values or `Missing` values.
* Passengers from `Southhampton` had the better probablity of surviving.

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Survived")
plt.title("Figure 21: Survived distribution among the Train dataset", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.1"></a>
### 2.2.3.1. Sex

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Survived", hue="Sex")
plt.title("Figure 22: Survived x Sex", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.2"></a>
### 2.2.3.2. Age

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=train, x="Age", hue="Survived", shade=True)
plt.title("Figure 23: Survived x Age", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.3"></a>
### 2.2.3.3. PClass

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Pclass", hue="Survived")
plt.title("Figure 24: Survived x PClass", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.4"></a>
### 2.2.3.4. Cabin

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Cabin_code", hue="Survived", order = train['Cabin_code'].value_counts().index)
plt.title("Figure 25: Survived x Cabin", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.5"></a>
### 2.2.3.5. SibSp

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="SibSp", hue="Survived")
plt.title("Figure 26: Survived x SibSp", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.6"></a>
### 2.2.3.6. Parch

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Parch", hue="Survived")
plt.title("Figure 27: Survived x Parch", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.7"></a>
### 2.2.3.7. Embarked

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.countplot(data=train, x="Embarked", hue="Survived")
plt.title("Figure 27: Survived x Embarked", fontsize=16)
sns.despine(right=True)
plt.show()

[back to top](#table-of-contents)
<a id="2.2.3.8"></a>
### 2.2.3.8. Fare

In [ ]:
plt.figure(figsize=(15,6), facecolor="#f7e4e4")
ax = plt.axes()
ax.set_facecolor("#f7e4e4")
sns.kdeplot(data=train, x="Fare", hue="Survived", shade=True)
plt.title("Figure 27: Survived x Fare", fontsize=16)
sns.despine(right=True)
plt.show()

----