## Import Libraries

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import pathlib as Path
import matplotlib.pyplot as plt
#import sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import os
print(os.listdir("../input"))

['test.csv', 'test', 'sample_submission', 'train', 'train.csv', 'sample_submission.csv']

## Load Data

In [2]:
df_train = pd.read_csv('../input/train.csv')
df_test = pd.read_csv('../input/test.csv')
submission = pd.read_csv('../input/sample_submission.csv')

## File structure and content

In [3]:
df_train.head()

          id  vendor_id      ...      store_and_fwd_flag trip_duration
0  id2875421          2      ...                       N           455
1  id2377394          1      ...                       N           663
2  id3858529          2      ...                       N          2124
3  id3504673          2      ...                       N           429
4  id2181028          2      ...                       N           435

[5 rows x 11 columns]

In [ ]:
df_test.head(1)

In [ ]:
df_train.describe()

In [ ]:
df_train.info()

In [5]:
df_train['passenger_count'].value_counts()

1    1033540
2     210318
5      78088
3      59896
6      48333
4      28404
0         60
7          3
9          1
8          1
Name: passenger_count, dtype: int64

In [11]:
#Visualise the minimum and maximum trip duration
df_train.sort_values(by='trip_duration', ascending=False)

                id  vendor_id      ...      store_and_fwd_flag trip_duration
978383   id0053347          1      ...                       N       3526282
924150   id1325766          1      ...                       N       2227612
680594   id0369307          1      ...                       N       2049578
355003   id1864733          1      ...                       N       1939736
1234291  id1942836          2      ...                       N         86392
295382   id0593332          2      ...                       N         86391
73816    id0953667          2      ...                       N         86390
59891    id2837671          2      ...                       N         86387
1360439  id1358458          2      ...                       N         86385
753765   id2589925          2      ...                       N         86379
1221666  id3346235          2      ...                       N         86378
91717    id3782820          2      ...                       N         86378
1138915  id1565504          2      ...                       N         86377
66346    id2307896          2      ...                       N         86377
1284067  id1278306          2      ...                       N         86369
779030   id2945617          2      ...                       N         86369
172662   id1797529          2      ...                       N         86369
1269316  id3045292          2      ...                       N         86369
1233528  id2100069          2      ...                       N         86367
1213613  id3856625          2      ...                       N         86367
483960   id1440188          2      ...                       N         86366
1282413  id3741436          2      ...                       N         86365
344777   id2601246          2      ...                       N         86364
290498   id1233614          2      ...                       N         86364
1399707  id1143280          2      ...                       N         86363
252615   id1321358          2      ...                       N         86362
755015   id1967966          2      ...                       N         86362
1258361  id0526370          2      ...                       N         86362
556468   id3474948          2      ...                       N         86362
1182032  id3132327          2      ...                       N         86361
...            ...        ...      ...                     ...           ...
1382872  id0839864          1      ...                       N             1
404610   id3686648          1      ...                       N             1
279493   id1491861          1      ...                       N             1
600247   id2517984          1      ...                       N             1
1165514  id2757288          1      ...                       N             1
285635   id0075470          1      ...                       N             1
1034341  id0218424          1      ...                       N             1
1125014  id2100834          1      ...                       N             1
1360664  id0480433          1      ...                       N             1
1029695  id2115750          1      ...                       N             1
1439166  id2943073          2      ...                       N             1
346959   id1171557          1      ...                       N             1
563953   id2072503          1      ...                       N             1
346102   id2375785          1      ...                       N             1
1063496  id3712815          1      ...                       N             1
1306890  id2608913          1      ...                       N             1
451396   id2836747          1      ...                       N             1
1296239  id0948644          2      ...                       N             1
596136   id2402793          1      ...                       N             1
35196    id2536510          1      ...                       N             1
207497   id1520236          1      ...                       N             1
555237   id0550194          1      ...                       N             1
1056854  id1885961          2      ...                       N             1
610159   id0578509          1      ...                       N             1
810851   id1250016          1      ...                       N             1
269418   id0553321          2      ...                       N             1
467645   id0008221          2      ...                       N             1
533799   id3563137          2      ...                       N             1
726971   id2697717          2      ...                       N             1
311745   id2959956          1      ...                       N             1

[1458644 rows x 11 columns]

## DATA CLEANING

In [ ]:
#Extreme trip durations and trip with zero passenger
df_train = df_train = df_train[(df_train['passenger_count'] > 0) & (df_train['trip_duration'] < 8000)]

## Reformating features

In [ ]:
df_train['pickup_datetime'] = pd.to_datetime(df_train['pickup_datetime'])
#df_train['year'] = df_train['pickup_datetime'].dt.year
df_train['month'] = df_train['pickup_datetime'].dt.month
df_train['day'] = df_train['pickup_datetime'].dt.day
df_train['hour'] = df_train['pickup_datetime'].dt.hour
df_train['minute'] = df_train['pickup_datetime'].dt.minute
df_train['second'] = df_train['pickup_datetime'].dt.second
df_train['weekday'] = df_train['pickup_datetime'].dt.weekday
df_train.head(1)

In [ ]:
df_train.loc[df_train['store_and_fwd_flag'] == 'N', 'store_and_fwd_flag'] = 0
df_train.loc[df_train['store_and_fwd_flag'] == 'Y', 'store_and_fwd_flag'] = 1
df_train.head(2)

## SPLIT Train data

In [ ]:
def split_dataset(df, features, target='trip_duration'):
    X = df[features]
    y = df[target]
    return X, y

In [ ]:
# predictor features
selected_columns = ['vendor_id', 'passenger_count', 'pickup_longitude', 'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude', 
                    'month', 'day', 'hour', 'minute', 'second', 'weekday', 'store_and_fwd_flag']
X_train, y_train = split_dataset(df_train, selected_columns)
# X_train = df_train[selected_columns]
# y_train = df_train['trip_duration']
X_train.shape, y_train.shape

> ## Modeling & Cross-Validation

In [ ]:
rf = RandomForestRegressor()
score = -cross_val_score(rf, X_train, y_train, cv=5, scoring='neg_mean_squared_log_error')
score.mean()

In [ ]:
rf.fit(X_train, y_train)

In [ ]:
rf.feature_importances_

## Test Prediction

In [ ]:
df_test['pickup_datetime'] = pd.to_datetime(df_test['pickup_datetime'])
#df_test['year'] = df_test['pickup_datetime'].dt.year
df_test['month'] = df_test['pickup_datetime'].dt.month
df_test['day'] = df_test['pickup_datetime'].dt.day
df_test['hour'] = df_test['pickup_datetime'].dt.hour
df_test['minute'] = df_test['pickup_datetime'].dt.minute
df_test['second'] = df_test['pickup_datetime'].dt.second
df_test['weekday'] = df_test['pickup_datetime'].dt.weekday
df_test.loc[df_test['store_and_fwd_flag'] == 'N', 'store_and_fwd_flag'] = 0
df_test.loc[df_test['store_and_fwd_flag'] == 'Y', 'store_and_fwd_flag'] = 1
df_test.head()

In [ ]:
X_test = df_test[selected_columns]

In [ ]:
y_test_pred = rf.predict(X_test)
y_test_pred.mean()

## SUBMISSION

In [ ]:
submission.head()

In [ ]:
submission['trip_duration'] = y_test_pred
submission.head()

In [ ]:
submission.describe()

In [ ]:
submission.to_csv('submission.csv', index=False)

In [ ]:
!ls