In [1]:
import re
import time
from urllib.request import urlopen

import numpy as np
import pandas as pd

In [18]:
# Load data
train = pd.read_csv('../input/train.csv', usecols=['imdb_id'], dtype=str)
test = pd.read_csv('../input/test.csv', usecols=['imdb_id'], dtype=str)
df = pd.concat([train, test], axis=0).reset_index(drop=True)

In [19]:
# Create new columns for scores and number of ratings
df['avg_rating'] = np.nan
df['num_rating'] = np.nan

In [20]:
def get_imdb_rating(id):
    try:
        html = str(urlopen('http://www.imdb.com/title/'+id+'/ratings').read())
        ix = re.search("vote of ", html).end()
        avg_rating = float(html[ix:ix+100].split()[0])
        ix = re.search("IMDb users have given a", html).start()
        num_rating = float(html[ix-13:ix-2].split()[-1].replace(',', ''))
        return avg_rating, num_rating
    except:
        return np.nan, np.nan

In [21]:
%%time

for i in range(df.shape[0]):
    tid = df['imdb_id'][i]
    avg_rating, num_rating = get_imdb_rating(tid)
    df.loc[i, 'avg_rating'] = avg_rating
    df.loc[i, 'num_rating'] = num_rating
    time.sleep(1.0) #be nice to the servers...

CPU times: user 96 ms, sys: 8 ms, total: 104 ms
Wall time: 6.53 s

In [22]:
df

        imdb_id  avg_rating  num_rating
0     tt2637294         5.1     34383.0
1     tt0368933         5.8     67501.0
2     tt2582802         8.5    612549.0
3     tt1821480         8.1     51698.0
4     tt1380152         5.8       284.0
5     tt0093743         NaN         NaN
6     tt0431021         NaN         NaN
7     tt0391024         NaN         NaN
8     tt0117110         NaN         NaN
9     tt0310281         NaN         NaN
10    tt0075148         NaN         NaN
11    tt0093857         NaN         NaN
12    tt0169547         NaN         NaN
13    tt0377471         NaN         NaN
14    tt0181689         NaN         NaN
15    tt1129437         NaN         NaN
16    tt0421239         NaN         NaN
17    tt1700845         NaN         NaN
18    tt1487118         NaN         NaN
19    tt0388482         NaN         NaN
20    tt0120738         NaN         NaN
21    tt0083972         NaN         NaN
22    tt2105044         NaN         NaN
23    tt1687277         NaN         NaN
24    tt0779982         NaN         NaN
25    tt0104139         NaN         NaN
26    tt0120176         NaN         NaN
27    tt1486834         NaN         NaN
28    tt0092106         NaN         NaN
29    tt0264472         NaN         NaN
...         ...         ...         ...
7368  tt2140037         NaN         NaN
7369  tt0483607         NaN         NaN
7370  tt0203408         NaN         NaN
7371  tt1126591         NaN         NaN
7372  tt0970179         NaN         NaN
7373  tt0074285         NaN         NaN
7374  tt0103074         NaN         NaN
7375  tt0322725         NaN         NaN
7376  tt0065938         NaN         NaN
7377  tt2011159         NaN         NaN
7378  tt0399295         NaN         NaN
7379  tt1731701         NaN         NaN
7380  tt3960412         NaN         NaN
7381  tt0066580         NaN         NaN
7382  tt0933361         NaN         NaN
7383  tt1433811         NaN         NaN
7384  tt0093640         NaN         NaN
7385  tt0278488         NaN         NaN
7386  tt0102848         NaN         NaN
7387  tt2172985         NaN         NaN
7388  tt0479162         NaN         NaN
7389  tt1754811         NaN         NaN
7390  tt0103253         NaN         NaN
7391  tt0929632         NaN         NaN
7392  tt1340138         NaN         NaN
7393  tt0218922         NaN         NaN
7394  tt0364751         NaN         NaN
7395  tt0084855         NaN         NaN
7396  tt3235888         NaN         NaN
7397  tt0056663         NaN         NaN

[7398 rows x 3 columns]

In [23]:
# Write scores to file
df.to_csv('imdb_scores.csv', index=False)