# Exploring the Titanic Dataset using Pandas in Python

In [ ]:
#importing the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [ ]:
df = pd.read_csv('../input/titanic/train.csv')
df.head()

In [ ]:
#dropping few unwanted columns
df.drop(['PassengerId','Name','Ticket'],axis = 1, inplace = True)
df.head()

# Building a Pivot Table using Pandas

In [ ]:
#How to group data using index in a pivot table?

In [ ]:
#a single index
table = pd.pivot_table(data = df, index = ['Sex'])
table

In [ ]:
table.plot(kind ='bar')

In [ ]:
#multiple indexes
table = pd.pivot_table(data = df, index =['Sex','Pclass'])
table

In [ ]:
# Different aggregate functions

In [ ]:
table = pd.pivot_table(data = df, index = ['Sex','Pclass'],aggfunc={'Age':np.mean, 'Survived':np.sum})
table

In [ ]:
#Aggregate on specific features with values parameter

In [ ]:
table = pd.pivot_table(data = df,index = ['Sex','Pclass'],values = ['Survived'],aggfunc=np.mean)
table

value parameter is where you tell the function which features to aggregate on.

In [ ]:
table.plot(kind='bar')

 The survival rate of male passengers was lower than the female passengers in any given Pclass.

In [ ]:
#Find the relationship between features with columns parameter

In [ ]:
table = pd.pivot_table(data = df, index =['Sex'],columns =['Pclass'], values = ['Survived'],aggfunc =np.sum)
table

In [ ]:
table.plot(kind ='bar')

In [ ]:
# Handling missing data

In [ ]:
#display null values
table = pd.pivot_table(data = df, index =['Sex','Pclass','Survived'],columns =['Embarked'],values = ['Age'],aggfunc =np.mean)
table

In [ ]:
#handling null value
table = pd.pivot_table(data = df, index =['Sex','Pclass','Survived'],columns =['Embarked'],values = ['Age'],aggfunc = np.mean, fill_value =np.mean(df['Age']))
table