#### Fetching the data

In [ ]:
import os
# import gc
import time
import math
import datetime
from math import log, floor
# from sklearn.neighbors import KDTree

import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.utils import shuffle
from tqdm.notebook import tqdm as tqdm

import seaborn as sns
from matplotlib import colors
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots


# import pywt
from statsmodels.robust import mad

import scipy
import statsmodels
from scipy import signal
import statsmodels.api as sm
from fbprophet import Prophet


import warnings
warnings.filterwarnings("ignore")

In [ ]:
sales = pd.read_csv('../input/m5-forecasting-accuracy/sales_train_evaluation.csv')
calendar = pd.read_csv('../input/m5-forecasting-accuracy/calendar.csv')
sell_prices = pd.read_csv('../input/m5-forecasting-accuracy/sell_prices.csv')

## Business Problem :-
M5 Forecasting Accuracy is a competetion in which we have to forecast future sales of each product in each store based on the hierarchical sales data provided by Walmart. In this competetion we have to forecast daily sales for next 28 days. Here we have the data for 3 states in US(California, Texas, and Wisconsin).
The data files (.csv files) provided for the competetion consists of item level, department, product categories,items sold on a day, store details, price, promotions, day of the week, and special events.
So by using this data we will forecast daily sales for next 28 days as accurately as possible.

## ML formulation :-
We will do some data preprocessing and feature engineering to get desired format and some new features respectively . Once the data is ready we will pass it through different machine learning and deep learning models . After the model is trained we will predict the values for test dataset.
We will pose this as a supervised machine learning regression problem. In this problem we will be using LGBMRegressor, Facebook Prophet and a deep learning model.

## Metrics :-

The performance measures are first computed for each series separately by averaging their values across the forecasting horizon and then averaged again across the series in a weighted fashion .

Forcasting horizon or number of days for which forecast is required is 28 days.

The metric used for evaluating the accuracy of the each series is Root Mean Squared Scaled Error (RMSSE).  


After estimating the RMSSE for all the 42,840 time series of the competition, we will calculate Weighted RMSSE (WRMSSE) which will be used as our final metric .

The formulas for RMSSE and WRMSSE are given below :-


![image.png]()


RMSSE variables :- Y_t is the actual future value of the examined time series at point t, (Y_t^)the generated forecast, n the length of the training sample (number of historical observations), and h the forecasting horizon. 

WRMSSE variables :- w_i is the weight of the i_th series of the competition. A lower WRMSSE score is better.Explaination on how to calculate w_i is given in the pdf present in M5 Participants Guide :- https://mofc.unic.ac.cy/m5-competition/ .

## Downcasting

In [ ]:
### Ref link :- https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling/comments#1.-Fetch-the-data


#Downcast in order to save memory
def downcast(df):
    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()
    for i,t in enumerate(types):
        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)
        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)
        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')
    return df

In [ ]:
sales = downcast(sales)
sell_prices = downcast(sell_prices)
calendar = downcast(calendar)

## EDA

In [ ]:
sales.head()

In [ ]:
sales = pd.melt(sales, id_vars=['id', 'item_id', 'dept_id', 'cat_id', 'store_id','state_id'], var_name='d', value_name='sold').dropna()

In [ ]:
sales

In [ ]:
sell_prices

In [ ]:
calendar

In [ ]:
df = pd.merge(sales, calendar,how = "left",on = 'd')

In [ ]:
df = pd.merge(df, sell_prices, how = 'left', on = ['store_id','item_id','wm_yr_wk'])

## Plot 1 :- Total number of products sold over time per store.

In [ ]:

df_1 = df.loc[df['store_id'] == 'CA_1']
grouped = df_1.groupby(['date']).sum()

In [ ]:
grouped = df.groupby(['store_id','date']).sum()
grouped.reset_index( inplace=True)

In [ ]:
grouped

In [ ]:
# import plotly.express as px
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'store_id' ,title='Total number of products sold over time per store')
fig.update_layout(width=1000, height=400)
fig.show()

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
fig = make_subplots(rows=3, cols=4,subplot_titles=('CA_1',
 'CA_2',
 'CA_3',
 'CA_4',
 'TX_1',
 'TX_2',
 'TX_3','',
 'WI_1',
 'WI_2',
 'WI_3' ))

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_1']['sold'])), row = 1, col=1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_2']['sold'])), row = 1, col=2 )


fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_3']['sold'])), row = 1, col=3 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_4']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_4']['sold'])), row = 1, col=4 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_1']['sold'])), row = 2, col=1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_2']['sold'])), row = 2, col=2 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_3']['sold'])), row = 2, col=3 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_1']['sold'])), row = 3, col = 1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_2']['sold'])), row = 3, col=2 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_3']['sold'])), row = 3, col=3 )


fig.update_layout(height=800, width=2000, title_text="Total number of products sold over time per store")
fig.show()

Observations :-

1. CA_3 store sells most number of products daily as compared to any other store.
2. The number of products sold daily increased for CA_2 just before the mid of 2015.
3. The number of products sold daily increased for WI_1 during the end months of 2012.
4. The number of products sold daily increased for WI_2 during the mid of 2012.

## Plot 2 :- Total number of products sold over time per state

In [ ]:

grouped = df.groupby(['state_id','date']).sum()
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'state_id' ,title='Total number of products sold over time per state')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. CA sells most number of products daily .
2. The number of products sold daily were more for TX as compared to WI before 2013 ,but after 2013 the sold value for both the states tends to fall in the same range as the plot for both the states seems to overlap for most of the time.

## Plot 3 :- Total number of products sold over time for all categories of items

In [ ]:

grouped = df.groupby(['cat_id','date']).sum()
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'cat_id' ,title='Total number of products sold over time for all categories of items')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. FOODS is the most sold item category.
2. HOOBIES is the least sold item category.
3. The plot for FOODS category seems to have a yearly trend .
4. The plot for HOBBIES category does not seem to have any trend.
5. The sold values for HOUSEHOLD category has noticabely increased during the mid of 2012.

## Plot 4 :- Total revenue generated daily from all the items sold for all the stores.

In [ ]:
df['revenue'] = df['sold'] * df['sell_price']

In [ ]:
grouped = df.groupby(['store_id','date']).sum()
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'revenue',color = 'store_id' ,title='Total revenue generated daily from all the items sold for all the stores')
fig.update_layout(width=1000, height=400)
fig.show()

In [ ]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
fig = make_subplots(rows=3, cols=4,subplot_titles=('CA_1',
 'CA_2',
 'CA_3',
 'CA_4',
 'TX_1',
 'TX_2',
 'TX_3','',
 'WI_1',
 'WI_2',
 'WI_3' ))

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_1']['revenue'])), row = 1, col=1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_2']['revenue'])), row = 1, col=2 )


fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_3']['revenue'])), row = 1, col=3 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'CA_4']['date']), y=list(grouped.loc[grouped['store_id'] == 'CA_4']['revenue'])), row = 1, col=4 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_1']['revenue'])), row = 2, col=1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_2']['revenue'])), row = 2, col=2 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'TX_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'TX_3']['revenue'])), row = 2, col=3 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_1']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_1']['revenue'])), row = 3, col = 1 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_2']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_2']['revenue'])), row = 3, col=2 )

fig.add_trace(
    go.Scatter(x=list(grouped.loc[grouped['store_id'] == 'WI_3']['date']), y=list(grouped.loc[grouped['store_id'] == 'WI_3']['revenue'])), row = 3, col=3 )


fig.update_layout(height=800, width=2000, title_text="Total number of products sold over time per store")
fig.show()

Observations :-
1. CA_3 generates most revenue as compared to the other stores.
2. All observations are similar to the observations in Plot 1 :- Total number of products sold over time per store.

## Plot 5  :- Total number of items sold in each store for each category

In [ ]:
# df

In [ ]:
grouped = df.groupby(['store_id','cat_id'], as_index=False).sum().dropna()
# grouped.reset_index( inplace=True)

In [ ]:
# grouped

In [ ]:
x_axis = grouped['store_id'].unique()
x_axis

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
    name='FOODS',text = grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold']
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    name='HOBBIES',text = grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    marker_color='rgb(0, 204, 0)'
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    name='HOUSEHOLD	', text = grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    marker_color='rgb(153, 51, 255)'
))


fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.update_layout(title_text='Total number of items sold in each store for each category')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. CA_3 sold the most FOODS and HOUSEHOLD category items.
2. CA_3 sold HOOBIES category items more than CA_1 but the difference is very less.
3. The difference in number of items sold in HOBBIES category accross all the stores is very less as compared to FOODS and HOUSEHOLD categories.

## Plot 6 :- Total number of items sold in each state for each category

In [ ]:
grouped = df.groupby(['state_id','cat_id'], as_index=False).sum().dropna()
x_axis = grouped['state_id'].unique()

In [ ]:
x_axis

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
    name='FOODS',text = grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold']
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    name='HOBBIES', text = grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    marker_color='rgb(0, 204, 0)'
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    name='HOUSEHOLD	', text = grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    marker_color='rgb(153, 51, 255)'
))


fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.update_layout(title_text='Total number of items sold in each state for each category')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(width=1000, height=500)
fig.show()

Observations :-
1. CA sold most items in all the categories.
2. CA sold almost double the items in HOBBIES category as compared to TX and WI.
3. TX and WI sold almost same number of items in FOODS category.
4. TX sold more items than WI in HOUSEHOLD category.

## Plot 7 :- Distribution of prices of different categories in different stores

In [ ]:
# df

In [ ]:
grouped = df.groupby(['store_id','cat_id','item_id'], as_index=False)['sell_price'].mean()
grouped.dropna()

In [ ]:
# grouped.head()
# sell_prices

In [ ]:
import plotly.express as px

fig = px.box(grouped, x="store_id", y="sell_price", color="cat_id")
fig.update_layout(title_text='Distribution of prices of different categories in different stores')
fig.show()

Observations :-
1. HOBBIES category items have the largest price range.
2. FOODS category items have the least price range.
3. The median price for HOUSEHOLD category is more as compared to FOODS and HOBBIES.
4. The distribution of price range for all items seems to be very similar for all the stores.

## Plot 8 :- Total number of products sold for all subcategories of items per store

In [ ]:
grouped = df.groupby(['store_id','dept_id'], as_index=False)['sold'].sum()
grouped.dropna()

In [ ]:
fig = px.box(grouped, x="dept_id", y="sold")
fig.update_layout(title_text='Total number of products sold for all subcategories of items per store',width=800, height=400)
fig.show()

Observations :-
1. FOODS_3 category have the most sold items among all the stores.
2. FOODS_3 have the largest range for the number of items sold in different stores. It also has the highest variance in sales.

2. HOBBIES_2 category have the least sold items among all the stores. It also has the least variance in sales.

#### Highest sold item in FOODS_3 :-

In [ ]:
df_F_3 = df.loc[(df['dept_id'] == "FOODS_3")]

grouped = df_F_3.groupby(["dept_id",'item_id'],as_index=False)['sold'].sum()
grouped.dropna(inplace = True)

In [ ]:
grouped.sort_values('sold' ,inplace = True)
grouped

In [ ]:
fig = px.bar(grouped, x='item_id', y='sold', text='sold') 
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(barmode='stack', xaxis_tickangle=-45 ,width=1500, height=600 )
fig.update_layout(title_text='Items sold in FOODS_3')
fig.show()

Observations :-
1. FOODS_3_090 (units sold = 1017916) is the most sold item in FOODS_3.

## Plot 9 :- Total number of products sold in events in 2016

In [ ]:
df.tail()
df_2016 = df.loc[df['year'] == 2016]

# df_2016

In [ ]:
grouped = df_2016.groupby(['date','event_type_1','event_name_1','cat_id'], as_index=False)['sold'].sum()
grouped.dropna(inplace=True)
grouped.head()

In [ ]:
x_axis = grouped['event_name_1'].unique()

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
    name='FOODS',text = grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold']
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    name='HOBBIES', text = grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    marker_color='rgb(0, 204, 0)'
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    name='HOUSEHOLD	', text = grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    marker_color='rgb(153, 51, 255)'
))


fig.update_layout(barmode='group', xaxis_tickangle=-45 ,width=1500, height=600)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(title_text=' Total number of products sold in events in 2016')
fig.show()

Observations :-
1. Most of the FOODS and HOUSEHOLD category items were sold on Orthodox Easter day in 2016.
2. On SuperBowl , Valentine's Day, President's Day, Easter ,Pesach End, Orthodox Easter and Mother's Day more than 30000 FOODS category items were sold in 2016.

## Plot 10 :- Products sold in SNAP

In [ ]:
df_snap = df.loc[(df['snap_CA'] == 1) | (df['snap_TX'] == 1) | (df['snap_WI'] == 1)]
grouped = df.groupby(['store_id','cat_id'], as_index=False)['sold'].sum()
grouped.dropna(inplace=True)
grouped

In [ ]:
x_axis = grouped['store_id'].unique()
x_axis

In [ ]:
import plotly.graph_objects as go

fig = go.Figure()
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
    name='FOODS', text = grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold']
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    name='HOBBIES', text = grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    marker_color='rgb(0, 204, 0)'
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    name='HOUSEHOLD	', text = grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    marker_color='rgb(153, 51, 255)'
))


fig.update_layout(barmode='group', xaxis_tickangle=-45,width=1000, height=600)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(title_text=' Total number of products sold during SNAP in stores')
fig.show()

Observations :-

1. CA_3 sold most number of items in every category among all the stores during SNAP.
2. CA_4 sold least number of FOODS category items during SNAP.
3. WI_2 and WI_3 sold almost same number of FOODS category items during SNAP.

## Plot 11 :- Products sold on weekdays and weekends

In [ ]:
# df

In [ ]:
grouped = df.groupby(['wday','cat_id'], as_index=False)['sold'].sum()
grouped.dropna(inplace=True)
grouped.head()

In [ ]:
x_axis = [ 'Saturday', 'Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
    name='FOODS', text = grouped.loc[(grouped['cat_id'] == 'FOODS')]['sold'],
   
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    name='HOBBIES', text = grouped.loc[(grouped['cat_id'] == 'HOBBIES')]['sold'],
    marker_color='rgb(0, 204, 0)'
))
fig.add_trace(go.Bar(
    x=x_axis,
    y=grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    name='HOUSEHOLD	', text = grouped.loc[(grouped['cat_id'] == 'HOUSEHOLD')]['sold'],
    marker_color='rgb(153, 51, 255)'
))


fig.update_layout(barmode='group', xaxis_tickangle=-45,width=1000, height=600)
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside')
fig.update_layout(title_text='Products sold on weekdays and weeknds ')
fig.show()

Observations :-

1. People buy more products on weeknds than on weekdays for all item categories.
2. The FOODS category items are sold most on Sunday.
3. The HOBBIES and HOUSEHOLD category items are sold most on Saturday.

## State Wise monthly analysis of 2016

For 2016 we have data until 22nd of May , so all the analysis done will be upto this day.

## Plot 12 :- California

Monthly analysis

In [ ]:
# df

In [ ]:
df_CA = df.loc[(df['state_id'] == "CA") & (df['year'] == 2016) ]

In [ ]:
# df_CA

In [ ]:
# Monthly Analysis
df_CA= df.loc[(df['state_id'] == "CA") & (df['year'] == 2016)  ]

grouped = df_CA.groupby(['store_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'store_id' ,title='Total number of products sold in each store in California during 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. There is a sudden derease in sales for store CA_2 on March 20 2016 (products sold = 2300). We will look further into this.

Daily analysis

In [ ]:
df_CA= df.loc[(df['state_id'] == "CA") & (df['year'] == 2016) & (df['month'] == 3) & (df['store_id'] == "CA_2" )]

grouped = df_CA.groupby(['cat_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'cat_id' ,title='Total number of products sold in CA_2 during March 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. All item categories were sold least on March 20 2016 for store CA_2 ( FOODS = 1406 , HOBBIES = 215  , HOUSEHOLD = 679).

## Plot 13 :- Texas

Monthly Analysis

In [ ]:
# Monthly Analysis
df_TX= df.loc[(df['state_id'] == "TX") & (df['year'] == 2016) ]

grouped = df_TX.groupby(['store_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'store_id' ,title='Total number of products sold in each store in Texas during 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. Most items were sold in Texas on May 15 2016 by the store TX_2 (proudcts sold = 5866). We will look deeper into this.

Daily Analysis

In [ ]:

df_TX= df.loc[(df['store_id'] == "TX_2") & (df['year'] == 2016) &(df['month'] == 5 ) ]

grouped = df_TX.groupby(['cat_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'cat_id' ,title='Total number of products sold in TX_2 during May 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. FOODS and HOUDEHOLD (FOODS = 3887, HOUSEHOLD = 1423)  items had the highest sale on May 15 2016.

## Plot 14 :- Wisconsin

Monthly Analysis

In [ ]:
# Monthly Analysis
df_WI= df.loc[(df['state_id'] == "WI") & (df['year'] == 2016) ]

grouped = df_WI.groupby(['store_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'store_id' ,title='Total number of products sold in each store in Wisconsin during 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-

1. Highest number of products were sold in Wisconsin by WI_2 store on April 9 2016 (products sold = 7852).

Daily Analysis

In [ ]:
df_WI= df.loc[(df['year'] == 2016) & (df['store_id'] == "WI_2")&(df['month'] == 4 ) ]

grouped = df_WI.groupby(['cat_id','date']).sum()
grouped.dropna(inplace = True)
grouped.reset_index( inplace=True)

In [ ]:
fig = px.line(grouped ,x = 'date', y = 'sold',color = 'cat_id' ,title='Total number of products sold in WI_2 during April 2016')
fig.update_layout(width=1000, height=400)
fig.show()

Observations :-
1. FOODS (FOODS = 5902) item category had the highest sale on April 9 2016.