Problem statement:

Write a story using data derived from Kaggle's 2021 Survey. This story could either be at the macro or micro level.

This Exploratory Analysis is going to study men and women data scientists in their sixties and then to compare them by gender.

In 2021 Kaggle hosted its fifth annual Machine Learning and Data Science survey. When the results of the survey were presented in the form of a csv pdf file, data scientists were invited to enter a competition in the form of an Exploratory Data Analysis of the results. Competitors were required to write a story concerning the results of the survey.

This story could be either on the macro level, where a group of individuals are analysed, or the micro level, where perhaps one small segment of the population is analysed.

In my EDA I decided to compare male and female data scientists in the UK who are in their sixties. I was subtly surprised to discover the results, and in the paragraphs below I will give a brief overview of my findings. 

In order to analyse the data, I created a dataframe, combi, where I combined the male and female data scientists in the UK who are in their sixties. The dataset is comprised of 23 examples and 369 features.  The first three examples are the women in the UK who are in their sixties. The remaining twenty examples are the men in the UK who are in their sixties.

Three hundred sixty nine columns of data is a lot of information to cover, and the contents of the cells are in the two dataframes at the bottom of this EDA. 

In Kaggle’s 2021 survey there are three women and twenty men in the UK in their sixties who responded to the survey.

Of the highest level of education of the respondent’s of the survey, one of the women had a Master’s degree and at least one of the men had a PhD. 

The men and women who responded to the survey have the given the following job titles:-

Women: Data Scientist, Student and Other.

Men: Software Engineer, Business Analyst, Database Engineer, Research Scientist, Project Manager, Unemployed, and Other.

The men and women who responded to the survey have given the following languages they program in:-

Women: Python, R, SQL

Men: Python, R, SQL, C, C++, Java, Javascript, Bash, Matlab, Julia

The men and women who responded to the survey have given the following software they prepare code in:-

Women: R Studio, Visual Studio, Notepad++, Jupyter Notebook, Kaggle Notebook, Colab Notebook

Men: R Studio, Visual Studio, Notepad++, Jupyter Notebook, Kaggle Notebook, Colab Notebook, VIM EMACS, Azure Notebook, Paperspace, IBM Watson Studio

The men and women who responded to the survey have given the following hardware they code in:-

Women: Cloud computing, and Laptop

Men: Personal computer, Laptop, Cloud computing, and Deep learning workstation

The men and women who responded to the survey have indicated that they program using the following libraries:-

Women: Matplotlib, Seaborn, Plotly, Shiny, Sklearn, Tensorflow, Catboost, Caret, and Tidymodel

Men: Matplotlib, Seaborn, Gplot, Sklearn, Tensorflow, XGBoost, LightGBM, Prophet, and Tidymodel

The men and women who responded to the survey have indicated that they use the following estimators:-

Women: Linear regression, Logistic regression, Decision trees, Random forest, Gradient boosting, Bayesian approaches, DNN’s, CNN’s, and Generative Adversarial

Men: Linear regression, Logistic regression, Decision trees, Random forest, Bayesian approach, DNN’s, CNN’s, Evolutionary approach, and Gradient boosting

The men and women who responded to the survey have indicated they work in the following sectors:-

Women: Non-profit, Medical/pharmaceutical, Other

Men: Medical/pharmaceutical, Shipping/transport, Retail/sales, Academics/education, Government/public service, and Accounting/finance

The men and women who responded to the survey have indicated that the use the following skills to learn new platforms:-

Women: Udacity, Udemy, Kaggle learn courses, University courses, Coursera, edX, Udemy

Men: Coursera, Kaggle learn courses, Cloud programs, University courses, edX, Udacity, Udemy, Datacamp

The men and women who responded to the survey indicated that they use the following tools to stay abreast of data science topics:-

Women: Email/newsletters, Kaggle notebooks, YouTube, Blogs, Job publications

Men: Email/newsletters, Kaggle notebooks, YouTube, Blogs Job publications

The above responses serve as a summary of the data provided by the respondents and the reader will need to refer to the dataframe at the bottom of this EDA to obtain a more precise view of the answers to the questions posed by Kaggle.

Import

In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

Load

In [ ]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Read

In [ ]:
data = pd.read_csv("/kaggle/input/kaggle-survey-2021/kaggle_survey_2021_responses.csv")
data

In [ ]:
data.info()

Remove quotes

In [ ]:
data.applymap(lambda x: x.replace('"', '') if (isinstance(x, str)) else x)
data.applymap(lambda x: x.replace("'", "") if (isinstance(x, str)) else x)

Age

In [ ]:
data.iloc[:,1].value_counts()

In [ ]:
sns.displot(data.iloc[:,1])

Gender

In [ ]:
data.iloc[:,2].value_counts()

In [ ]:
sns.displot(data.iloc[:,2])

This part of the EDA will focus on women in the data science community.

In [ ]:
gender = "Woman"

women_df = data[data.iloc[:, 2] == gender]
women_df

Woman's ages

In [ ]:
women_df.iloc[:,1].value_counts()

What country women data scientists are in

In [ ]:
women_df.iloc[:,3].value_counts()

Countries women data scientists reside in

In [ ]:
country = women_df.iloc[:,3].to_list()

# using naive method to remove duplicated from list  
list_country = [] 
for i in country: 
    if i not in list_country: 
        list_country.append(i) 

list_country

In [ ]:
print(len(list_country))

In [ ]:
sorted(list_country)

The next part of this EDA is women data scientists in the UK

In [ ]:
w_country = "United Kingdom of Great Britain and Northern Ireland"

w_country_df = women_df[women_df.iloc[:, 3] == w_country]
w_country_df

Ages of women data scientists in the UK

In [ ]:
w_country_df.iloc[:,1].value_counts()

Highest level of education of women data scientists in the UK

In [ ]:
w_country_df.iloc[:,4].value_counts()

This section of the EDA focuses on women data scientists who are in their 60's.

In [ ]:
w_age = "60-69"

w_age_df = w_country_df[w_country_df.iloc[:, 1] == w_age]
w_age_df

In [ ]:
print(len(w_age_df))

This part of the EDA will analyse male data scientists.

In [ ]:
gender = "Man"

men_df = data[data.iloc[:, 2] == gender]
men_df

Men's ages

In [ ]:
men_df.iloc[:,1].value_counts()

What countries are men data scientists in?

In [ ]:
men_df.iloc[:,3].value_counts()

In [ ]:
country = men_df.iloc[:,3].to_list()

# using naive method to remove duplicated from list  
list_country = [] 
for i in country: 
    if i not in list_country: 
        list_country.append(i) 

list_country

In [ ]:
print(len(list_country))

In [ ]:
sorted(list_country)

The next part of this EDA is male scientists in the UK

In [ ]:
m_country = "United Kingdom of Great Britain and Northern Ireland"

m_country_df = men_df[men_df.iloc[:, 3] == m_country]
m_country_df

Ages of male data scientists in the UK

In [ ]:
m_country_df.iloc[:,1].value_counts()

Highest level of education of male data scientists in the UK

In [ ]:
m_country_df.iloc[:,4].value_counts()

This section of the EDA focuses on male data scientists in their sixties.

In [ ]:
m_age = "60-69"

m_age_df = m_country_df[m_country_df.iloc[:, 1] == m_age]
m_age_df

In [ ]:
print(len(m_age_df))

Append dataframes of men and women

In [ ]:
combi = w_age_df.append(m_age_df)
pd.set_option('display.max_columns', None)
combi

Transpose combi

In [ ]:
combi_t = combi.transpose()
pd.set_option('display.max_rows', combi_t.shape[0]+1)
combi_t