In [ ]:
# Import the Pandas library
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
# Load the train data
train_df = pd.read_csv("../input/tabular-playground-series-jun-2021/train.csv")

In [ ]:
# Check size of original dataset
train_df.shape

In [ ]:
# There are a lot of data rows with exactly the data in the features, but are provided with different target labels.
# A good example are lines with id = 64196, 78662, 87596, 104839, 111418, 118758, 134796
# Observe how all feature columns are zero with exception of feature_69 = 1, but target varies from Class_2, Class_3 and Class_6
train_df[train_df['id'].isin([64196, 78662, 87596, 104839, 111418, 118758, 134796])]

In [ ]:
# First, we will remove duplicate rows when all features are the same and the target is the same.
# We will keep only 1 row of such records.
ignore_columns = train_df.columns.drop('id')
train_df = train_df.drop_duplicates(subset=ignore_columns,keep='first')

In [ ]:
# Now check the size of our train dataframe.
# We can find the number of rows reduced from 200000 to 199894 count
train_df.shape

In [ ]:
# Next, we will remove duplicate rows when all features are the same but the target varies.
# We will not keep any of such records.
ignore_columns = train_df.columns.drop(['id', 'target'])
train_df = train_df.drop_duplicates(subset=ignore_columns,keep=False)

In [ ]:
# Now check the size of our train dataframe again
# We can find the number of rows reduced from 199894 to 199698 count
train_df.shape

In [ ]:
# Congrats.  We now have a dataset with rows of unique feature data all mapping to 1 target label for better learning experience by any machine learning techniques.