# [TPS June 2022 - Competition Link](https://www.kaggle.com/competitions/tabular-playground-series-jun-2022)

# Table of Content:
- Loading Modules
- Loading Data
- Dealing with data using pandas 
- Dealing with data using stats - Mean/Median/Mode

Future Enhancement:
- Using Sklearn for dealing with data

In [ ]:
# Loading the module

import numpy as np
import pandas as pd

In [ ]:
# Loading dataset

data = pd.read_csv('../input/tabular-playground-series-jun-2022/data.csv')
submission = pd.read_csv('../input/tabular-playground-series-jun-2022/sample_submission.csv')

In [ ]:
# Displaying the dimesion of the dataset

data.shape

In [ ]:
# Displaying the columns of the dataset

data.columns

In [ ]:
# Displaying top rows of the dataset

data.head()

In [ ]:
# checking for the null values in the dataset  False--> No missing values True--> Missing Value

data.isnull()

In [ ]:
# Checking for the null values
# Displaying the count of null values present in the columns

data.isnull().sum()

- # We can Handle Missing values using following methods in pandas:
    - dropna()
    - fillna()
    - replace()
    - interpolate()
    
- [Reference](geeksforgeeks.org/working-with-missing-data-in-pandas/#:~:text=In%20order%20to%20fill%20null,in%20datasets%20of%20a%20DataFrame.)

In [ ]:
# dropna() - will drop all the null values present in the dataset

data_drop = data.dropna()

In [ ]:
data_drop.isnull().sum()

- ***Note*** this method should not be used in this competition since we need to predict those missing values

In [ ]:
# fillna(value=value)
# we can either fill it with certain value like 0,1 or fill value with mean meadian and mode.

data_fillna= data.fillna(0) # here we are filling missing values with 0.

In [ ]:
data_fillna.isnull().sum()

In [ ]:
# replace() is to replace the null values with values 

data_replace = data.replace(to_replace = np.nan, value = -1.5)

In [ ]:
data_replace

In [ ]:
data_replace.isnull().sum()

In [ ]:
# Using interpolate() function to fill the missing values using linear method.

data_interpolate = data.interpolate(method ='linear', limit_direction ='forward')

In [ ]:
data_interpolate

In [ ]:
data_interpolate.isnull().sum()

# We can also Fill missing values using other techniques:
## 1. Mean
## 2. Median
## 3. Mode

# 1. What is Mean ??
- There are several kinds of mean in mathematics, especially in statistics. For a data set, the arithmetic mean, also known as arithmetic average, is a measure of central tendency of a finite set of numbers: specifically, the sum of the values divided by the number of values.[Wikipedia](https://en.wikipedia.org/wiki/Mean)

![](https://www.gstatic.com/education/formulas2/443397389/en/mean.svg)

m	=	mean

Example of Mean:

![]()

Another Example of Mean:



![](https://differencecamp.com/wp-content/uploads/2021/07/mean.jpg?ezimgfmt=rs:372x222/rscb7/ng:webp/ngcb7)

# How to Fill Missing Values with mean of the columns:

Reference:
- [Geeks for Geeks](https://www.geeksforgeeks.org/how-to-fill-nan-values-with-mean-in-pandas/)
- [Stackoverflow](https://stackoverflow.com/questions/18689823/pandas-dataframe-replace-nan-values-with-average-of-columns)

In [ ]:
# Ex: df=df['column_name'].mean()
# Ex: df=df.fillna(df.mean())


data_mean=data.fillna(data.mean())

In [ ]:
data_mean.head()

In [ ]:
data_mean.isnull()

In [ ]:
data_mean.isnull().sum()

In [ ]:
# # Filling with Mean: 1.41613

# imputed_df=data.fillna(data.mean())

# for i, row in enumerate(submission.values):
#     row_col = row[0]
#     imputed_row = row_col.split("-")[0] #get the row index
#     imputed_col = row_col.split("-")[1] #get the column index
#     submission.at[i, "value"] = imputed_df.iloc[int(imputed_row)][imputed_col]

# 2. What is Median ??
- In statistics and probability theory, the median is the value separating the higher half from the lower half of a data sample, a population, or a probability distribution. For a data set, it may be thought of as "the middle" value. [Wikipedia](https://en.wikipedia.org/wiki/Median)



![](https://www.gstatic.com/education/formulas2/443397389/en/median_formula.svg)


* X	=	ordered list of values in data set <br>
n	=	number of values in data set

Example of the Median:


![](https://i.ytimg.com/vi/epnv2WtNmnk/maxresdefault.jpg)



Another Example of Median:

![](https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Finding_the_median.png/1200px-Finding_the_median.png)

# How to fill missing values with median of the column:
- Reference:
    - [Vitalflux](https://vitalflux.com/pandas-impute-missing-values-mean-median-mode)

In [ ]:
# Ex: df.fillna(df.median())

data_median=data.fillna(data.median())

In [ ]:
data_median.head()

In [ ]:
data_median.isnull().sum()

In [ ]:
# # Filling with median:1.41708

# imputed_df=data.fillna(data.median())

# for i, row in enumerate(submission.values):
#     row_col = row[0]
#     imputed_row = row_col.split("-")[0] #get the row index
#     imputed_col = row_col.split("-")[1] #get the column index
#     submission.at[i, "value"] = imputed_df.iloc[int(imputed_row)][imputed_col]

# 3. What is Mode ??
- The mode is the value that appears most often in a set of data values. If X is a discrete random variable, the mode is the value x at which the probability mass function takes its maximum value. In other worlikelyds, it is the value that is most likely to be sampled. [Wikipedia](https://en.wikipedia.org/wiki/Mode_(statistics))



Example of Mode:

![](https://makemeanalyst.com/wp-content/uploads/2017/05/Mode-1.png)


Another Example of Mode:

![](https://www.media4math.com/sites/default/files/library_asset/images/Defintion--MeasuresOfCentralTendency--Mode.png)

# How to fill the missing values with mode of the columns:
- Reference:
    - [Vitalflux](https://vitalflux.com/pandas-impute-missing-values-mean-median-mode/)

In [ ]:
# Ex: df=df.fillna(df.mode())

data_mode = data.fillna(data.mode())

In [ ]:
data_mode.head()

In [ ]:
data_mode.isnull().sum()

In [ ]:
data_mode.F_1_0.value_counts()

- As you can see we were not able to fill the null for more information visit [Stackoverflow](https://stackoverflow.com/questions/42789324/how-to-pandas-fillna-with-mode-of-column)

In [ ]:
# Implemenation would be like:

data_mode['F_1_0'] = data_mode['F_1_0'].fillna(data_mode['F_1_0'].mode()[0])

In [ ]:
data_mode.isnull().sum()

In [ ]:
# # Filling with mode:1.41708

# for i in data:
#     data[i] = data[i].fillna(data[i].mode()[0])
# # imputed_df=data.fillna(data.mode())

# for i, row in enumerate(submission.values):
#     row_col = row[0]
#     imputed_row = row_col.split("-")[0] #get the row index
#     imputed_col = row_col.split("-")[1] #get the column index
#     submission.at[i, "value"] = data.iloc[int(imputed_row)][imputed_col]

- ***Note:*** We just applied mode to single column.
- Do it for the rest of the following.

# Submission Scores:
- Mean:1.41613
- Median:1.41708
- Mode: 1.75442

# From This we can conclude that mean is the best among Mean, Median and Mode

# Using [Sklearn](http://scikit-learn.org/stable/modules/impute.html) to Impute Missing Values

# Iterative Imputer

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

imputer = IterativeImputer(verbose=2)
imputed_df = pd.DataFrame(imputer.fit_transform(data), columns = data.columns) # preserve the column names, used later

In [ ]:
for i, row in enumerate(submission.values):
    row_col = row[0]
    imputed_row = row_col.split("-")[0] #get the row index
    imputed_col = row_col.split("-")[1] #get the column index
    submission[i, "value"] = imputed_df.iloc[int(imputed_row)][imputed_col]

In [ ]:
# submission.head()
# submission.to_csv("submission.csv", index=False)

Submission Score: 0.98250

# Submission :

In [ ]:
# sub= pd.read_csv("../input/tabular-playground-series-jun-2022/sample_submission.csv")
# sub.to_csv("submission.csv",index=False)

In [ ]:
# sub.shape

# That's it

You can always suggest something, as well as if you see any error let me know!




# Few Dicussion that you might be interested in reading:

-[Beginner friendly resources for missing values - Tutorials](https://www.kaggle.com/competitions/tabular-playground-series-jun-2022/discussion/328348)

-[Data Imputation technique](https://www.kaggle.com/competitions/tabular-playground-series-jun-2022/discussion/328352)

-[The best way to handle missing data](https://www.kaggle.com/discussions/questions-and-answers/268403)

-[You are given a data set consisting of variables with more than 30 percent missing values. How will you deal with them?](https://www.kaggle.com/discussions/questions-and-answers/274314)

-[What is Data Cleansing vs Data Cleaning ?](https://www.kaggle.com/discussions/questions-and-answers/266156)









![](https://c.tenor.com/JXqHOw5AQFEAAAAC/the-end.gif)