In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import os
print(os.listdir("../input"))

**Data loading**

In [226]:
df = pd.read_csv('../input/train.csv',index_col='id')
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])
#df['trip_duration'] = df['trip_duration'] / 3600

In [199]:
df.describe()

          vendor_id      ...        second_pickup
count  1.458644e+06      ...         1.458644e+06
mean   1.534950e+00      ...         2.947359e+01
std    4.987772e-01      ...         1.731985e+01
min    1.000000e+00      ...         0.000000e+00
25%    1.000000e+00      ...         1.400000e+01
50%    2.000000e+00      ...         2.900000e+01
75%    2.000000e+00      ...         4.400000e+01
max    2.000000e+00      ...         5.900000e+01

[8 rows x 14 columns]

**Split datetime**

In [235]:
    df_datetime = df['pickup_datetime']
    df['year_pickup'] = df_datetime.dt.year
    df['month_pickup'] = df_datetime.dt.month
    df['day_pickup'] = df_datetime.dt.day
    df['hour_pickup'] = df_datetime.dt.hour
    df['weekday_pickup'] = df_datetime.dt.weekday
    df['minute_pickup'] = df_datetime.dt.minute
    df['second_pickup'] = df_datetime.dt.second

**Filter the data**

Nous avons tout d'abord verifier l'incohérence dans les données.
Pour la durée de la course on a remarqué des incohérences (des courses qui duraient entre 3h et 10h pour le maximum) et Nous avons aussi remarqué que le nombre de passager était de 0 pour certaines courses)
On a donc décidé de filtrer ces données de la manière suivante:

In [247]:
selected_columns = ['vendor_id','passenger_count','pickup_longitude','pickup_latitude',
                    'dropoff_longitude','dropoff_latitude','year_pickup','month_pickup',
                    'day_pickup','hour_pickup','weekday_pickup','minute_pickup','second_pickup']


filter_passenger_duration =  (df['passenger_count'] > 0) & (df['trip_duration'] > 120) & (df['trip_duration'] < 10800 )
filter_df = df.loc[filter_passenger_duration]
X = filter_df[selected_columns]
y = filter_df['trip_duration']
X.shape, y.shape

((1428201, 13), (1428201,))

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

**Create the shuffle split**

In [ ]:
from sklearn.model_selection import ShuffleSplit
shuffle = ShuffleSplit(n_splits=5, test_size=0.99, random_state=42)

**DETERMINE BEST PARAMS for GridSearch
(Non utilisé)**

In [ ]:
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [100,200,500,700],
    'max_features': ['auto'],
    "max_depth": [1,3,5,10]
}
gs = GridSearchCV(estimator=rf,cv=shuffle,param_grid=param_grid,scoring="neg_mean_squared_log_error")
#gs.fit(X, y)
#print(gs.best_params_)
#y_predict = gs.predict(X_test)
#print(y_predict.mean())

**CROSS VALIDATION**

In [248]:
from sklearn.model_selection import cross_val_score
import sklearn
losses = cross_val_score(rf, X, y, scoring="neg_mean_squared_log_error", cv=shuffle)
np.sqrt(- losses.mean())

0.43479862575535966

In [239]:
df_test = pd.read_csv('../input/test.csv',index_col="id")
df_test['pickup_datetime'] = pd.to_datetime(df_test['pickup_datetime'])
df_test.head()

           vendor_id        ...         store_and_fwd_flag
id                          ...
id3004672          1        ...                          N
id3505355          1        ...                          N
id1217141          1        ...                          N
id2150126          2        ...                          N
id1598245          1        ...                          N

[5 rows x 8 columns]

**Split DATETIME TEST**

In [240]:
df_test_datetime = df_test['pickup_datetime']
df_test['year_pickup'] = df_test_datetime.dt.year
df_test['month_pickup'] = df_test_datetime.dt.month
df_test['day_pickup'] = df_test_datetime.dt.day
df_test['hour_pickup'] = df_test_datetime.dt.hour
df_test['weekday_pickup'] = df_test_datetime.dt.weekday + 1
df_test['minute_pickup'] = df_test_datetime.dt.minute
df_test['second_pickup'] = df_test_datetime.dt.second
df_test.head()

           vendor_id      ...      second_pickup
id                        ...
id3004672          1      ...                 58
id3505355          1      ...                 53
id1217141          1      ...                 47
id2150126          2      ...                 41
id1598245          1      ...                 33

[5 rows x 15 columns]

**Train the data**

In [241]:
rf.fit(X, y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

**Predict the data**

In [242]:
X_test = df_test[selected_columns]
X_test.shape
y_pred = rf.predict(X_test)
y_pred.mean(), len(y_pred)

(838.7576905111542, 625134)

**Data submission**

In [250]:
submission = pd.read_csv('../input/sample_submission.csv') 
submission.head()

          id  trip_duration
0  id3004672            959
1  id3505355            959
2  id1217141            959
3  id2150126            959
4  id1598245            959

**Submission**

In [244]:
submission['trip_duration'] = y_pred
submission.to_csv('submission.csv', index=False)
submission.head()

          id  trip_duration
0  id3004672          701.9
1  id3505355          630.2
2  id1217141          713.4
3  id2150126         1336.1
4  id1598245          381.5