#  Data Visualization or EDA
 
In this notebook I will walk you through data visualization on the Titanic dataset.

**I know you have been gone through some similar notebooks based on Data Visualization, and some would have find them difficult to understand because of codes were little bit harder. In this notebook I have visualized the data that is easy to understand** So lets start. 

**Data visualization** is the graphical representation of information and data. By using visual elements like charts, graphs, and maps, data visualization tools provide an accessible way to see and understand trends, outliers, and patterns in data.
We will be using the Seaborn Library.

So let'start by importing some libaries.

# Importing Libraries

In [ ]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns #for data data visualization


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Data

In [ ]:
#training data
train_data = pd.read_csv("/kaggle/input/tabular-playground-series-apr-2021/train.csv")
train_data.head()

In [ ]:
#test data
test_data = pd.read_csv("/kaggle/input/tabular-playground-series-apr-2021/test.csv")
test_data.head()


# Identifying the null values (missing values)
First we will check for null values in the data using *heatmap* with the *isnull()* method

In [ ]:
sns.heatmap(train_data.isnull(),yticklabels=False,cbar=False,cmap = 'viridis')

We can see here that there are many missing values are present in the Age ,Ticket column and lots of missing values are there in Cabin column.

But this heatmap does shows the exact value

If you want to see the exact null values than this code is helpful

In [ ]:
train_data.isnull().sum()

# Survival of Male and Female

here will we will check for the number of male and female survived ,using count plot.

In [ ]:
sns.countplot(x='Survived',data=train_data,hue = 'Sex')

With the help of the coutplot we can see that large number of male did not survived (more than 40000)

# Survival Based on Pclass

We will be using the countplot here also but to check for survival based on pclass , use *hue = 'Pclass'*

In [ ]:
sns.countplot(x='Survived',data=train_data,hue = 'Pclass')

With help of this graph we can see that the large number of the 3rd class or say large number lower class people did not survived.  

It can be like this because all of lower class people were not allowed to sit on the rescue boat.

# Age

In [ ]:
train_data['Age'].dropna().plot.hist(bins=30)

This histogram helps us to understand that many of the passengers that were present in the titanic were of age range 20-50 years.
Here I have used bins = 30 for more clear plot. (You can try with differnt bins values to find how its working.)

Also I have used **dropna()** to drop null values so that it will disturb the graph

# Siblings

In [ ]:
sns.countplot(x='SibSp',data=train_data)

Here we can see that majority of the passengers were single.

And second highest  were we can say pessengers with their 1 sibling or spouse etc

# Fare Tickets

In [ ]:
train_data['Fare'].hist(bins=40,figsize=(10,4))

With this histogram this we can find that cheaper tickets were sold and that make sense most passengers were on lower class.

In [ ]:
corrMatrix = train_data.corr()
sns.heatmap(corrMatrix, annot=True)

# No. of People Survived

In [ ]:
sns.countplot(x='Survived',data=train_data)

Less than half of people survived in the

That's it. Hope you will find this notebook helpfull in working with this competition and you will find many insights of data with this.

# HAPPY LEARNING