# **Kaggle Survey EDA, About Korean Kagglers!**

![pic 1](https://th.bing.com/th/id/R.b1446fcf55441c8c8a3e10f5db89cb2c?rik=a%2bGnkV4yCJomYw&riu=http%3a%2f%2fimg.hani.co.kr%2fimgdb%2fresize%2f2019%2f0113%2f00501904_20190113.JPG&ehk=bxY3FwT2qJQPM7pMuvJuFoUfwhk4EOJ5vVz8V%2fqi%2byM%3d&risl=&pid=ImgRaw&r=0)

![pic 2](https://th.bing.com/th/id/R.0182f0b712c7720db9480a8b832a14aa?rik=MZZJ%2bx6vi%2fyZ7Q&riu=http%3a%2f%2fcfile212.uf.daum.net%2fimage%2f9940F1355C4D322E24C88B&ehk=fd8aItrMSeb0pPh8h%2ffwIhMN9Rd3PvxVnavIFhXR7b4%3d&risl=&pid=ImgRaw&r=0)

## Thanks to the interesting data released by Kaggle, **I am happy to introduce Republic of Korea**.

#### I am a midshipman currently attending the Korean Naval Academy and am currently in cruise training!

#### The above two pictures are the pride of Korea, Sonny and the night view of Seoul, the capital of Korea centered on Lotte World Tower.

#### There are so many beautiful attractions in Korea. After COVID-19, make sure to visit and have a good experience!

In [ ]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# For show the whole columns
pd.options.display.max_columns = 999

df = pd.read_csv('../input/kaggle-survey-2021/kaggle_survey_2021_responses.csv',
                 low_memory=False)
df

#

# **Visualization**

In [ ]:
# Changed names of two countries for visualization
# United States of America → USA
# United Kingdom of Great Britain and Northern Ireland → England

countries = ['India', 'USA', 'Other', 'Japan', 'China',
       'Brazil', 'Russia', 'Nigeria',
       'England', 'Pakistan',
       'Egypt', 'Germany', 'Spain', 'Indonesia', 'Turkey', 'France',
       'South Korea', 'Taiwan', 'Canada', 'Bangladesh']

numbers = df['Q3'][1:].value_counts().sort_values(ascending = False)[:20].values

jobs = df[df['Q3'] == 'South Korea']['Q5'].value_counts()[:5].index

## **How many Korean kagglers are here in Kaggle?**

* 359 Korean Kaggler surveyed, which is the 17th compared to other countries.
* Gender Distribution → Man : 78.8% / Woman : 20.1%
* The largest number of groups are students like me!

In [ ]:
# Numbers Plot
plt.figure(figsize = (12, 6))

sns.set_theme(style="darkgrid")
sns.barplot(countries, numbers)

plt.xlabel('Country')
plt.ylabel('Numbers')
plt.xticks(rotation = 45);
plt.show()

# Counts
print('South Korean Kagglers :', len(df[df['Q3'] == 'South Korea']))

In [ ]:
# Gender Distribution Plot

plt.figure(figsize = (12, 6))

counts = df[df['Q3'] == 'South Korea']['Q2'].value_counts().values
labels = df[df['Q3'] == 'South Korea']['Q2'].value_counts().index
colors = sns.color_palette('pastel')[0:3]

plt.pie(x = counts,
        labels = labels,
        autopct = "%.1f%%",
        explode = [0.05]*3,
        pctdistance = 0.5,
        colors = colors);

plt.title("Gender Distribution", fontsize=14);

In [ ]:
df_kor = df[(df['Q3'] == 'South Korea')]
df_kor_jobs = df_kor[(df_kor['Q5'] == jobs[0]) | (df_kor['Q5'] == jobs[1]) | (df_kor['Q5'] == jobs[2]) | (df_kor['Q5'] == jobs[3]) | (df_kor['Q5'] == jobs[4])]

df_jap = df[(df['Q3'] == 'Japan')]
df_jap_jobs = df_jap[(df_jap['Q5'] == jobs[0]) | (df_jap['Q5'] == jobs[1]) | (df_jap['Q5'] == jobs[2]) | (df_jap['Q5'] == jobs[3]) | (df_jap['Q5'] == jobs[4])]

In [ ]:
# Jobs Plot
fig, ax = plt.subplots(1, 2, figsize = (20, 10))

sns.set_theme(style="darkgrid")

kor = sns.countplot(data = df_kor_jobs,
                    x = 'Q5',
                    palette="Set3",
                    hue="Q2", ax = ax[0])
kor.set_xlabel('Job')
kor.set_ylabel('Numbers')
kor.set_xticklabels(df_kor_jobs['Q5'].unique(), rotation = 45)
kor.set_title('Korea')

jap = sns.countplot(data = df_jap_jobs,
                    x = 'Q5',
                    palette="Set3",
                    hue="Q2", ax = ax[1])

jap.set_xlabel('Job')
jap.set_ylabel('Numbers')
jap.set_xticklabels(df_kor_jobs['Q5'].unique(), rotation = 45)
jap.set_title('Japan')

plt.show()

# **Detail About Gender**

### Gender Rate in each jobs

In [ ]:
# Gender Rate in each jobs

df_gender = df_kor_jobs.groupby('Q5')['Q2'].value_counts()
gender_rate = {'Data Analyst' : round(df_gender[0] / (df_gender[0] + df_gender[1]), 2) ,
               'Data Scientist' : round(df_gender[2] / (df_gender[2] + df_gender[3]), 2),
               'Machine Learning Engineer' : round(df_gender[4] / (df_gender[4] + df_gender[5]), 2),
               'Software Engineer' : round(df_gender[6] / (df_gender[6] + df_gender[7]), 2),
               'Student' : round(df_gender[8] / (df_gender[8] + df_gender[9]), 2)}

gender_rate

In [ ]:
plt.figure(figsize = (12, 6))

sns.set_theme(style="darkgrid")
sns.barplot(list(gender_rate.keys()), list(gender_rate.values()), dodge=False)
plt.xlabel('Job');
plt.ylabel('Rate');

### In all of the top five jobs, there are more men than women.
### In particular, Machine Learning Engineer gender rate is over 0.8%!

# **Work In Progress!**

### Source

* picture1 : http://www.hani.co.kr/arti/sports/soccer/878246.html?_fr=mt3
* picture2 : http://blog.daum.net/_blog/BlogTypeView.do?blogid=0ZHA0&articleno=3790&categoryId=53&regdt=20190127134403