In [1]:


import os
#donnes
print(os.listdir("../input"))
# Any results you write to the current directory are saved as output.
import pandas as pd
import numpy as np
#random forest pour regressor
from sklearn.ensemble import RandomForestRegressor
#Pour le split feature et target
from sklearn.model_selection import train_test_split
#Pour regression au lieu de accuracy c'est mean_square_error
from sklearn.metrics import mean_squared_error
#Ne pas afficher le warning lors du fit par exemple
#Import pour la cross_validation
from sklearn.model_selection  import cross_val_score
#import random forest pour regression
from sklearn.ensemble import RandomForestRegressor
import warnings
warnings.filterwarnings('ignore')

['train.csv', 'sampleSubmission.csv', 'test.csv']

In [2]:
# Fichier de train
X_train = pd.read_csv("../input/train.csv")
#Fichier de test
X_test = pd.read_csv("../input/test.csv")

In [3]:
submission = pd.read_csv("../input/sampleSubmission.csv")
submission["count"] = 195

###FAIRE UNE SUBMISSION

In [4]:
#Convertir notre fichier en csv
submission.to_csv('submission.csv', index=False)

In [5]:
X_test.columns

Index(['datetime', 'season', 'holiday', 'workingday', 'weather', 'temp',
       'atemp', 'humidity', 'windspeed'],
      dtype='object')

In [6]:
## Definition foncyion features et target

def split_dataset(df, features, target='count'):
    X = df[features]
    y = df[target]
    return X, y

In [7]:
## Fonction split date
def date_split(df_train, df_test, date='datetime'):
    ##Traitement_df_train
    cols=df_train[date]
    date_cols=pd.to_datetime(cols)
    df_train['year'] = date_cols.dt.year
    df_train['month'] = date_cols.dt.month
    df_train['day'] = date_cols.dt.day
    df_train['hour'] = date_cols.dt.hour
    df_train['minute'] = date_cols.dt.minute
    df_train['second'] = date_cols.dt.second
    df_train = df_train.drop(['datetime'], axis=1)
    ##Traitement_df_test
    cols2=df_test[date]
    date_cols2=pd.to_datetime(cols2)
    df_test['year'] = date_cols2.dt.year
    df_test['month'] = date_cols2.dt.month
    df_test['day'] = date_cols2.dt.day
    df_test['hour'] = date_cols2.dt.hour
    df_test['minute'] = date_cols2.dt.minute
    df_test['second'] = date_cols2.dt.second
    df_test = df_test.drop(['datetime'], axis=1)
    return df_train, df_test

In [8]:
#Definition de X_train et X_test avec les memes columns
X_train, X_test = date_split(X_train, X_test)

In [9]:
#### definissons nos features numbers ( features qui sont que des nombres)
##ATTENTION: Avoir les mm colonnes avec le dataset de test
# Fonction de recuperation du meme type de colonne
def Get_cols(df, features_test=X_test.columns):
    ############################POUR X_TRAIN########################
    #Renvoyer features de X_test Ã   X_train
    X_train_features = df[features_test]
    return  X_train_features

In [10]:
#Appel de la fonction pour avoir le meme nombre de columns:
X_trainGet_cols = Get_cols(X_test)

numbers = X_trainGet_cols.select_dtypes(np.number)

numbers.head()

   season  holiday  workingday  weather   ...    day  hour  minute  second
0       1        0           1        1   ...     20     0       0       0
1       1        0           1        1   ...     20     1       0       0
2       1        0           1        1   ...     20     2       0       0
3       1        0           1        1   ...     20     3       0       0
4       1        0           1        1   ...     20     4       0       0

[5 rows x 14 columns]

In [11]:
X_train.head()

   season  holiday  workingday  weather   ...    day  hour  minute  second
0       1        0           0        1   ...      1     0       0       0
1       1        0           0        1   ...      1     1       0       0
2       1        0           0        1   ...      1     2       0       0
3       1        0           0        1   ...      1     3       0       0
4       1        0           0        1   ...      1     4       0       0

[5 rows x 17 columns]

In [12]:
##Definition features and target

X_train_features, y_train_target = split_dataset(X_train, features=numbers.columns)

X_train_features, y_train_target

(       season  holiday  workingday  weather   ...    day  hour  minute  second
 0           1        0           0        1   ...      1     0       0       0
 1           1        0           0        1   ...      1     1       0       0
 2           1        0           0        1   ...      1     2       0       0
 3           1        0           0        1   ...      1     3       0       0
 4           1        0           0        1   ...      1     4       0       0
 5           1        0           0        2   ...      1     5       0       0
 6           1        0           0        1   ...      1     6       0       0
 7           1        0           0        1   ...      1     7       0       0
 8           1        0           0        1   ...      1     8       0       0
 9           1        0           0        1   ...      1     9       0       0
 10          1        0           0        1   ...      1    10       0       0
 11          1        0           0        1   ...      1    11       0       0
 12          1        0           0        1   ...      1    12       0       0
 13          1        0           0        2   ...      1    13       0       0
 14          1        0           0        2   ...      1    14       0       0
 15          1        0           0        2   ...      1    15       0       0
 16          1        0           0        2   ...      1    16       0       0
 17          1        0           0        2   ...      1    17       0       0
 18          1        0           0        3   ...      1    18       0       0
 19          1        0           0        3   ...      1    19       0       0
 20          1        0           0        2   ...      1    20       0       0
 21          1        0           0        2   ...      1    21       0       0
 22          1        0           0        2   ...      1    22       0       0
 23          1        0           0        2   ...      1    23       0       0
 24          1        0           0        2   ...      2     0       0       0
 25          1        0           0        2   ...      2     1       0       0
 26          1        0           0        2   ...      2     2       0       0
 27          1        0           0        2   ...      2     3       0       0
 28          1        0           0        2   ...      2     4       0       0
 29          1        0           0        3   ...      2     6       0       0
 ...       ...      ...         ...      ...   ...    ...   ...     ...     ...
 10856       4        0           1        1   ...     18    18       0       0
 10857       4        0           1        1   ...     18    19       0       0
 10858       4        0           1        1   ...     18    20       0       0
 10859       4        0           1        1   ...     18    21       0       0
 10860       4        0           1        1   ...     18    22       0       0
 10861       4        0           1        1   ...     18    23       0       0
 10862       4        0           1        1   ...     19     0       0       0
 10863       4        0           1        1   ...     19     1       0       0
 10864       4        0           1        1   ...     19     2       0       0
 10865       4        0           1        1   ...     19     3       0       0
 10866       4        0           1        1   ...     19     4       0       0
 10867       4        0           1        1   ...     19     5       0       0
 10868       4        0           1        1   ...     19     6       0       0
 10869       4        0           1        1   ...     19     7       0       0
 10870       4        0           1        1   ...     19     8       0       0
 10871       4        0           1        1   ...     19     9       0       0
 10872       4        0           1        1   ...     19    10       0       0
 10873       4        0           1        1   ...     19    11       0       0
 10874       4        0           1        1   ...     19    12       0       0
 10875       4        0           1        1   ...     19    13       0       0
 10876       4        0           1        1   ...     19    14       0       0
 10877       4        0           1        1   ...     19    15       0       0
 10878       4        0           1        1   ...     19    16       0       0
 10879       4        0           1        1   ...     19    17       0       0
 10880       4        0           1        1   ...     19    18       0       0
 10881       4        0           1        1   ...     19    19       0       0
 10882       4        0           1        1   ...     19    20       0       0
 10883       4        0           1        1   ...     19    21       0       0
 10884       4        0           1        1   ...     19    22       0       0
 10885       4        0           1        1   ...     19    23       0       0

 [10886 rows x 14 columns], 0         16
 1         40
 2         32
 3         13
 4          1
 5          1
 6          2
 7          3
 8          8
 9         14
 10        36
 11        56
 12        84
 13        94
 14       106
 15       110
 16        93
 17        67
 18        35
 19        37
 20        36
 21        34
 22        28
 23        39
 24        17
 25        17
 26         9
 27         6
 28         3
 29         2
         ...
 10856    525
 10857    353
 10858    268
 10859    168
 10860    132
 10861     81
 10862     41
 10863     15
 10864      3
 10865      5
 10866      7
 10867     31
 10868    112
 10869    363
 10870    678
 10871    317
 10872    164
 10873    200
 10874    236
 10875    213
 10876    218
 10877    237
 10878    334
 10879    562
 10880    569
 10881    336
 10882    241
 10883    168
 10884    129
 10885     88
 Name: count, Length: 10886, dtype: int64)

In [15]:
##################Cross Validation
## random forest regressor
#Import Random Forest pour regressor
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
##Cross Validation
score = -cross_val_score(rf, X_train_features, y_train_target, cv=5, scoring='neg_mean_squared_error')

In [16]:
score.mean()

6146.539811967758

In [17]:
###############  FIT entrainer tout le set d'entrainement
rf.fit(X_train_features, y_train_target)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [18]:
## Predict sur le train
y_train_pred = rf.predict(X_train_features)

ATTENTIONNNNNNNNNNNNNN: DANS KAGGLE LES COLUMNS DANS TEST PEUVENT ETRE SUPERIEUR OU INFERIEUR AU COLUMNS DANS LE DATASET DE TRAIN

In [19]:
###### Predict sur le test
## Voir si on a le meme nombre de columns dans test et dans train
y_test_pred = rf.predict(X_test)

In [23]:
mean_train = mean_squared_error( y_train_target, y_train_pred)
#mean_test = mean_squared_error(y_test, y_test_pred)
mean_train
#, mean_test

356.2379432298365

In [24]:
submission = pd.read_csv("../input/sampleSubmission.csv")
submission["count"] = y_test_pred
#Convertir notre fichier en csv
submission.to_csv('submission.csv', index=False)

In [22]:
#!rm submission.csv

In [25]:
submission.head(3)

              datetime  count
0  2011-01-20 00:00:00   13.7
1  2011-01-20 01:00:00    6.1
2  2011-01-20 02:00:00    4.9